.password{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 30%;
    height: auto;
    background-color: white;
    height: auto;
}


.input{
    display: flex;
    align-items: center;
    height: auto;
    row-gap: 20px;
    padding-bottom: 10px;
    align-items: center;
    margin-top: 40px;
    width: 90%;
    flex-direction: column;
    background-color: white;
}

input{
    border-radius: 5px;
    border-color: gray;
    height: 40px;
    width: 80%;
    border: 2px solid gray;
}

.input h3{
    margin-top: 30px;
}

.input button{
    width: 50%;
    height: 40px;
    /* margin-top: 60px; */
    border-radius: 5px;
    background-color: rgb(0, 0, 255);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;

}


.input button:hover{
    background-color: rgb(15, 15, 198);
}

.resetpass-main{
    min-height: 700px;
    display: flex;
    align-items: center;
    /* margin-top: 75px; */
    justify-content: center;
    background-color: rgb(237, 237, 237);
    justify-content: space-evenly;
}

.not-match-error{
    color: red;
    font-size: 20px;
}

.ok-status{
    color: green;
    font-size: 20px;
}